
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container
{
    padding: 50px;
    display: grid;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,15ch);
    grid-template-rows: repeat(3,15ch);
    div 
    {
        
        background-color: cyan;
        border: 2px dotted black;
    
    }
}

.header
{
    text-align: center;
    background-color: rgba(241, 52, 27, 0.74);
    height: 120px;
    padding: 30px;
}
.button
{
    margin-top: 40px;

}